<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/normalize.css">
    <link rel="stylesheet" href="../public/skeleton.css">
</head>
<body>
    
    <div class="container">
       <h1><%=theBudget.name %></h1>
       <a href="/budgets"><button>Back</button></a><br>
       <h5>date</h5>
       <p><%=theBudget.date %></p>
       <h5>name</h5>
       <p><%=theBudget.name %></p>
       <h5>from</h5>
       <p><%=theBudget.from %></p>
       <h5>amount</h5>
       <p><%=theBudget.amount %></p>
       <h5>tags</h5>
       <p><%=theBudget.tags %></p>
    </div>

</body>
</html>